/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../../src/scss/main.scss */
.hidden {
  display: none;
}

/* line 13, ../../../src/scss/main.scss */
body {
  background: #404060;
  font-family: 'Ribeye', cursive;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

/* line 21, ../../../src/scss/main.scss */
#site {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

/* line 30, ../../../src/scss/main.scss */
#page {
  background: url("../img/pattern-ruf8.png");
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 100ms linear;
  -moz-transition: -moz-transform 100ms linear;
  -o-transition: -o-transform 100ms linear;
  transition: transform 100ms linear;
}
/* line 40, ../../../src/scss/main.scss */
.show-toolbar #page {
  -webkit-transform: translateX(10rem);
  -moz-transform: translateX(10rem);
  -ms-transform: translateX(10rem);
  -o-transform: translateX(10rem);
  transform: translateX(10rem);
}

/* line 45, ../../../src/scss/main.scss */
#masthead {
  background: rgba(120, 138, 26, 0.75);
  color: #FFF;
  padding: 0.5rem;
  border-top-color: #11ac0b;
  border-width-top: 5px;
  border-top-width: 5px;
  position: relative;
}
/* line 53, ../../../src/scss/main.scss */
#masthead h1 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
  text-shadow: 1px 1px #F86969;
  text-align: center;
}

/* line 62, ../../../src/scss/main.scss */
#menu-control {
  background: url("../img/icons/menu.svg") no-repeat;
  display: block;
  height: 100%;
  left: 0;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  width: 5rem;
}

/* line 73, ../../../src/scss/main.scss */
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #a2f0a5;
  border: 2px solid #11ac0b;
  margin: 0 auto;
  display: block;
}

/* line 82, ../../../src/scss/main.scss */
button:focus {
  outline: none;
}

/* line 1, ../../../src/scss/_toolbar.scss */
.toolbar .action, .toolbar .tool {
  padding: 0.5rem;
  margin: 0.25rem;
  display: block;
}

/* line 8, ../../../src/scss/_toolbar.scss */
.toolbar .action:hover, .toolbar .tool:hover {
  background: #363651;
}
/* line 11, ../../../src/scss/_toolbar.scss */
.toolbar .active.action, .toolbar .active.tool {
  color: white;
  background: #2c2c41;
}

/* line 17, ../../../src/scss/_toolbar.scss */
.toolbar {
  background: #404060;
  color: #fff;
  font-size: 0.8rem;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 10rem;
}
/* line 27, ../../../src/scss/_toolbar.scss */
.toolbar h2 {
  font-size: 1.4rem;
  color: white;
  padding: 1rem;
  text-align: center;
}
/* line 37, ../../../src/scss/_toolbar.scss */
.toolbar .group {
  padding: 0.5rem;
  font-size: 1.5em;
  background: #171723;
  color: white;
}
/* line 43, ../../../src/scss/_toolbar.scss */
.toolbar dd {
  border-bottom: 0.1rem solid #54547f;
}

/* line 52, ../../../src/scss/_toolbar.scss */
#clean, #photo {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
}
/* line 55, ../../../src/scss/_toolbar.scss */
#clean:before, #photo:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 67, ../../../src/scss/_toolbar.scss */
#clean:before {
  background: url("../img/icons/refresh.svg") no-repeat;
}

/* line 67, ../../../src/scss/_toolbar.scss */
#photo:before {
  background: url("../img/icons/share.svg") no-repeat;
}

/* line 88, ../../../src/scss/main.scss */
#easel {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 95, ../../../src/scss/main.scss */
#main-svg {
  margin: 0;
  display: block;
}

/* line 101, ../../../src/scss/main.scss */
.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 110, ../../../src/scss/main.scss */
.modal-wrap {
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 100%;
}

/* line 117, ../../../src/scss/main.scss */
.modal-content {
  background: #FFF;
  border-radius: 0.5rem;
  border: 1px solid #11ac0b;
  height: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 500px;
}
