/* line 17, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-1.9.3-p429/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../../../src/scss/main.scss */
.hidden {
  display: none;
}

/* line 14, ../../../src/scss/main.scss */
body {
  background: #404060;
  font-family: 'Ribeye', cursive;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

/* line 22, ../../../src/scss/main.scss */
#site {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

/* line 31, ../../../src/scss/main.scss */
#page {
  background: url("../img/pattern-ruf8.png");
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform 100ms linear;
  -moz-transition: -moz-transform 100ms linear;
  -o-transition: -o-transform 100ms linear;
  transition: transform 100ms linear;
}
/* line 41, ../../../src/scss/main.scss */
.show-toolbar #page {
  -webkit-transform: translateX(15rem);
  -moz-transform: translateX(15rem);
  -ms-transform: translateX(15rem);
  -o-transform: translateX(15rem);
  transform: translateX(15rem);
}

/* line 46, ../../../src/scss/main.scss */
#masthead {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #859530), color-stop(50%, #788a1a), color-stop(100%, #6c7c17));
  background-image: -webkit-linear-gradient(top, #859530, #788a1a, #6c7c17);
  background-image: -moz-linear-gradient(top, #859530, #788a1a, #6c7c17);
  background-image: -o-linear-gradient(top, #859530, #788a1a, #6c7c17);
  background-image: linear-gradient(top, #859530, #788a1a, #6c7c17);
  color: #FFF;
  padding: 0.5rem;
  border-top-color: #11ac0b;
  border-width-top: 5px;
  border-top-width: 5px;
  position: relative;
}
/* line 55, ../../../src/scss/main.scss */
#masthead h1 {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4;
  text-shadow: 1px 1px #F86969;
  text-align: center;
}

/* line 64, ../../../src/scss/main.scss */
#menu-control {
  background: url("../img/icons/menu.svg") no-repeat center;
  background-size: 80% 80%;
  display: block;
  height: 100%;
  left: 0;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  width: 2rem;
}

/* line 76, ../../../src/scss/main.scss */
button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #a2f0a5;
  border: 2px solid #11ac0b;
  margin: 0 auto;
  display: block;
}

/* line 85, ../../../src/scss/main.scss */
button:focus {
  outline: none;
}

/* line 1, ../../../src/scss/_toolbar.scss */
.toolbar .action, .toolbar .tool {
  padding: 0.75rem;
  margin: 0.25rem;
  display: block;
}

/* line 8, ../../../src/scss/_toolbar.scss */
.toolbar .action:hover, .toolbar .tool:hover {
  background: #363651;
}
/* line 11, ../../../src/scss/_toolbar.scss */
.toolbar .active.action, .toolbar .active.tool {
  color: white;
  background: #2c2c41;
}

/* line 17, ../../../src/scss/_toolbar.scss */
.toolbar {
  background: #404060;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8rem;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0.5rem;
  position: absolute;
  width: 15rem;
}
/* line 28, ../../../src/scss/_toolbar.scss */
.toolbar h1 {
  font-size: 1.4rem;
  color: white;
  padding: 1rem;
  text-align: center;
  clear: left;
}
/* line 39, ../../../src/scss/_toolbar.scss */
.toolbar .group {
  padding: 0.5rem;
  font-size: 0.9em;
  text-transform: uppercase;
  color: #9f9faf;
  border-bottom: 0.2rem solid #54547f;
}
/* line 46, ../../../src/scss/_toolbar.scss */
.toolbar .tool-item {
  border-bottom: 0.1rem solid #54547f;
}
/* line 48, ../../../src/scss/_toolbar.scss */
.toolbar .tool-item:last-child {
  border-bottom: 0;
}

/* line 58, ../../../src/scss/_toolbar.scss */
#clear, #save {
  position: relative;
  padding: 0.75rem 0.75rem 0.75rem 2.25rem;
}
/* line 61, ../../../src/scss/_toolbar.scss */
#clear:before, #save:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 78, ../../../src/scss/_toolbar.scss */
#clear, #save {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  width: 50%;
}

/* line 73, ../../../src/scss/_toolbar.scss */
#clear:before {
  background: url("../img/icons/refresh.svg") no-repeat;
}

/* line 73, ../../../src/scss/_toolbar.scss */
#save:before {
  background: url("../img/icons/share.svg") no-repeat;
}

/* line 91, ../../../src/scss/main.scss */
.easel {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 98, ../../../src/scss/main.scss */
#align-svg {
  float: left;
}

/* line 105, ../../../src/scss/main.scss */
#main-svg {
  margin: 0;
  display: block;
}
