%tool {
  padding: 0.75rem;
  margin: 0.25rem;
  display: block;
}

%tool-interactive {
  &:hover {
    background: darken($tool-bg, 5);
  }
  &.active {
    color: white;
    background: darken($tool-bg, 10);
  }
}

.toolbar {
  background: $tool-bg;
  box-sizing: border-box;
  color: #fff;
  font-size: 0.8rem;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0.5rem;
  position: absolute;
  width: $tool-width;
  h1 {
    font-size: 1.4rem;
    color: white;
    padding: 1rem;
    text-align: center;
    clear: left;
  }
  .action {
    @extend %tool;
    @extend %tool-interactive;
  }
  .group {
    padding: 0.5rem;
    font-size: 0.9em;
    text-transform: uppercase;
    color: mix($tool-bg, white);
    border-bottom: 0.2rem solid lighten($tool-bg, 10);
  }
  .tool-item {
    border-bottom: 0.1rem solid lighten($tool-bg, 10);
    &:last-child {
      border-bottom: 0;
    }
  }
  .tool {
    @extend %tool;
    @extend %tool-interactive;
  }
  .color {
    border-radius: 15px;
    border: 3px solid black;
    color: transparent;
    display: inline-block;
    height: 24px;
    margin: 10px;
    width: 24px;
    transition: -webkit-transform 100ms ease-in;
    -webkit-transition: transform 100ms ease-in;
    &.active {
      transform: scale(1.4);
      -webkit-transform: scale(1.4);
    }
  }
}

%tool-icon {
  position: relative;
  padding: 0.75rem 0.75rem 0.75rem 2.25rem;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@mixin tool-icon($icon-url) {
  @extend %tool-icon;
  &:before {
    background: url($icon-url) no-repeat;
  }
}

%tool-inline {
  box-sizing: border-box;
  display: block;
  float: left;
  margin: 0;
  width: 50%;
}

#clear {
  @include tool-icon('../img/icons/refresh.svg');
  @extend %tool-inline;
}

#save {
  @include tool-icon('../img/icons/share.svg');
  @extend %tool-inline;
}
