@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/transform";
@import "compass/css3/transition";

$green: rgb(17, 172, 11);
$tool-bg: rgb(64, 64, 96);

$tool-width: 15rem;

// Utilities
.hidden { display: none; }

body {
  background: $tool-bg;
  font-family: 'Ribeye', cursive;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

#site {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
}

#page {
  background: url('../img/pattern-ruf8.png');
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  @include transform(translateX(0));
  @include transition(transform 100ms linear);
  .show-toolbar & {
    @include transform(translateX($tool-width));
  }
}

#masthead {
  $bg: rgb(120, 138, 26);
  @include background-image(linear-gradient(top, tint($bg, 10%), $bg, shade($bg, 10%)));
  color: #FFF;
  padding: 0.5rem;
  border-top-color: rgb(17, 172, 11);
  border-width-top: 5px;
  border-top-width: 5px;
  position: relative;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4;
    text-shadow: 1px 1px #F86969;
    text-align: center;
  }
}

#menu-control {
  background: url('../img/icons/menu.svg') no-repeat center;
  background-size: 80% 80%;
  display: block;
  height: 100%;
  left: 0;
  margin-left: 0.5rem;
  position: absolute;
  top: 0;
  width: 2rem;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(162, 240, 165);
  border: 2px solid $green;
  margin: 0 auto;
  display: block;
}

button:focus {
  outline: none;
}

@import 'toolbar';

#easel {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

#main-svg {
  margin: 0;
  display: block;
}


.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-wrap {
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal-content {
  background: #FFF;
  border-radius: 0.5rem;
  border: 1px solid $green;
  height: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 500px;
}
