@import "compass/reset";

$green: rgb(17, 172, 11);
$toolbar-bg: rgb(64, 64, 64);
$tool-bg: rgb(96, 96, 96);

$tool-width: 10rem;

// Utilities
.hidden { display: none; }

body {
  font-family: 'Ribeye', cursive;
  font-size: 0.8rem;
  background: url('../img/pattern-ruf8.png');
  margin: 0;
  padding: 0;
}

#page {
  margin-left: $tool-width;
  //height: 100%;
  //position: absolute;
  .hide-tools {
    margin-left: 0;
  }
}

#masthead {
  background: rgba(120, 138, 26, 0.75);
  color: #FFF;
  padding: 0.5rem;
  border-top-color: rgb(17, 172, 11);
  border-width-top: 5px;
  border-top-width: 5px;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.4;
  text-shadow: 1px 1px #F86969;
  text-align: center;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(162, 240, 165);
  border: 2px solid $green;
  margin: 0 auto;
  display: block;
}

button:focus {
  outline: none;
}

#toolbar {
  %tool {
    padding: 1.5rem;
    display: block;
  }
  height: 100%;
  background: $toolbar-bg;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  position: absolute;
  width: $tool-width;
  .tools {
    .group {
      @extend %tool;
      background: darken($toolbar-bg, 10);
      color: white;
    }
    .tool {
      background: $tool-bg;
      @extend %tool;
      &:hover {
        background: darken($tool-bg, 5);
      }
      &:active, &.active {
        color: white;
        background: darken($tool-bg, 10);
      }
    }
  }
}

#easel {
  margin: 0 auto;
  padding: 0;
  width: 500px;
}

#main-svg {
  margin: 0;
  display: block;
}


.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-wrap {
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal-content {
  background: #FFF;
  border-radius: 0.5rem;
  border: 1px solid $green;
  height: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 500px;
}
