@import "compass/reset";

$green: rgb(17, 172, 11);

// Utilities
.hidden { display: none; }

body {
  font-family: 'Ribeye', cursive;
  font-size: 0.8rem;
  background: url('../img/pattern-ruf8.png');
  margin: 0;
  padding: 0;
}

#masthead {
  background: rgba(120, 138, 26, 0.75);
  color: #FFF;
  padding: 0.5rem;
  border-top-color: rgb(17, 172, 11);
  border-width-top: 5px;
  border-top-width: 5px;
}

h1 {
  margin: 0;
  font-size: 2.4rem;
  line-height: 1.4;
  text-shadow: 1px 1px #F86969;
  text-align: center;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(162, 240, 165);
  border: 2px solid $green;
  margin: 0 auto;
  display: block;
}

button:focus {
  outline: none;
}

#counter-top {
  margin: 0 auto;
  padding: 0;
}

#main-svg {
  margin: 0;
  display: block;
}

#toolbar {
  font-size: 0;
  .tool {
    font-size: 1rem;
    padding: 0.5rem;
    background: white;
    display: inline-block;
    &.active {
      color: white;
      background: black;
    }
  }
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-wrap {
  margin-top: -250px;
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal-content {
  background: #FFF;
  border-radius: 0.5rem;
  border: 1px solid $green;
  height: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  width: 500px;
}
